body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    background-color: #D5E1EF;
    font-family: "Outfit", sans-serif;
}

.qr-card{
    background-color: white;
    border-radius: 1.1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 20rem;
    padding: 1rem;
    text-align: center;
    height: auto;
}

img{
    width: 100%;
    border-radius: 0.9rem;
    display: block;
    margin-bottom: 1.2rem;
}

h1{
    font-size: 1.5rem;
    color: #1F314F;
    padding-top: 1rem;
    font-weight: bold;
}

h2{
  color: #68778D;
  font-size: 1rem;
  padding: 0.9rem;
  font-weight: 400;  
}

@media (max-width: 23.4375rem) {
    .qr-card {
        width: 90%;
    }

    h1 {
        font-size: 1.1rem;
    }
}